
<div id="login">
    <form class="form" id="login-form" action="/api/v1/users/login" method="POST">
        <%- include("./../partials/error_messages") %>
        <p class="error"><%= typeof message != 'undefined' ? message : '' %></p>
        <input type="hidden" name="origin" placeholder="origin" value="<%= typeof origin != 'undefined' ? origin : '' %>" />
        <input type="email" name="email" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
        <input type="password" name="password" placeholder="Password"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        <input type="submit" value="Login" />
        <p class="errors"><a href="/forget-password">Forget Password</a></p>
    </form>
</div>
