<div class="page">
    <div class="product-admin">

 
<% if (typeof doc == 'undefined') { %>
    <p>hi</p>
<% } %>


 
 <% if (typeof doc != 'undefined') { %>
            <% let counter = 1 %>
        <% doc.forEach((product) => { %>
                    <a href="/admin/products/<%= product.id%>">
                    <div class="single-product">
                        <p><%= counter %></p>
                        <img src="/img/products/<%= product.imageCover %>" width="50">
                        <p><%= product.name %></p>

                        <p>cat: <%= product.category.name %></p>
                     
                        <p>Stock Left: <%= product.stock %></p>
                
                    </div>
                    </a>
                    <% counter +=1 %>
                <% }) %>

                


<% } %>

</div>
</div>