
<div class="page">
    <div class="single-product-admin">
<% if (typeof product == 'undefined') { %>
<p>No product found</p>
<% } %>



<% if (typeof product != 'undefined') { %>

<div class="single-product">

        <form method="POST" action="/admin/products/<%= product.id %>" enctype="multipart/form-data">

            <%- include("./../partials/error_messages") %>

            <img src="/img/products/<%= product.imageCover %>" width="200">
            <input type="hidden" name="oldCover" value="<%= product.imageCover %>">
            <label id="deleteableLabel" for="imageCover">Change image:</label>
            <input id="imageCover" name="imageCover" type="file" />
            <label>Product Name: </label>
            <input type="text" name="name" placeholder="Product Name"
                value="<%= product.name %>" />
            
                <label>Category: <%= product.category.name %></label>
            <% if(typeof categories != 'undefined'){ %>
            <select name="category" id="reservedtable">
                <option selected disabled>Change Category:</option>
                <% categories.forEach((category) => { %>
            
            
                <option value="<%= category.id %>"><%= category.name %></option>
            
            
                <% }) %>
            
            </select>
            <% } %>

            
            <label>Product Description: </label>
            <textarea name="description" placeholder="Description" ><%= product.description %></textarea>
            
            
            <label>Stock Left: </label>
            <input id="deleteableStock" type="text" name="stock" placeholder="Left in Stock"
                value="<%= product.stock %>" />
            
               <label>Laminating Price: </label>
            <input type="text" name="laminatingPrice" placeholder="Laminating Price" required value="<%= product.laminatingPrice %>" />
            
            
            <label>SKU: </label>
            <input type="text" name="SKU" placeholder="SKU" required value="<%= product.SKU %>" />
            <label>Price: </label>
            <input id="deleteablePrice" type="text" name="price" placeholder="Price"
                value="<%= product.price %>" />


            <input type="submit" value="Update Product">
        </form>
    
    <div id="delete-btn">delete product </div>
    <div class="del-wrapper">
        <div id="answer">
            <form method="POST" action="/admin/products/delete/<%= product.id %>">
                <input type="submit" id="yes" value="yes">
            </form>
            
            <p id="no">no</p>
        </div>
    </div>
    
        <script>
            let answer = document.getElementById('answer');
            let yes = document.getElementById('yes');
            let no = document.getElementById('no');
            let deleteBtn = document.getElementById('delete-btn')

            answer.style.display = 'none';

            deleteBtn.addEventListener('click', deleteFunction);
            no.addEventListener('click', deleteFunction);

            function deleteFunction(e){
                e.preventDefault();
                if(answer.style.display === 'none') {
                    answer.style.display = 'block';
                }
                else{
                    answer.style.display = 'none';
                }
            }
        </script>


<!--Product variables-->
<% if(product.variants.length >= 0){ %>
<h2>Product Variants</h2>
<% for(var i = 0; i< product.variants.length; i++){ %>
    <div class="varints-admin-show">
        <p><%=(product.variants[i].name) %>: <%=(product.variants[i].value) %></p>
        <p>SKU: <%=(product.variants[i].SKU) %></p>
        <p>Price: <%=(product.variants[i].price) %></p>
        <p>Parent SKU: <%=(product.variants[i].base) %></p>
    </div>
<% } %>
<% } %>




</div>



<% } %>
</div>
</div>