<div id="page">
    <% if (typeof category != 'undefined'){ %> 
        <form method="POST" action="/admin/category/<%= category.id %>">
            <input type="text" placeholder="Category name" name="name" value="<%= category.name %>">
            <input type="text" placeholder="slug" name="slug" value="<%= category.slug %>">
            <% if(typeof categories != 'undefined'){ %>
            
            <select name="parentCategory" id="reservedtable">
                <option selected disabled>Parent Category:</option>
                <% categories.forEach((category) => { %>
            
            
                <option value="<%= category.id %>"><%= category.name %></option>
            
            
                <% }) %>
            
            </select>
            <% } %>

            <input type="submit" value="Update Category">
            

        </form>

        <div id="delete-btn">delete category </div>
        <div class="del-wrapper">
            <div id="answer">
                <form method="POST" action="/admin/category/delete/<%= category.id %>">
                    <input type="submit" id="yes" value="yes">
                </form>
        
                <p id="no">no</p>
            </div>
        </div>
        
        <script>
            let answer = document.getElementById('answer');
            let yes = document.getElementById('yes');
            let no = document.getElementById('no');
            let deleteBtn = document.getElementById('delete-btn')

            answer.style.display = 'none';

            deleteBtn.addEventListener('click', deleteFunction);
            no.addEventListener('click', deleteFunction);

            function deleteFunction(e) {
                e.preventDefault();
                if (answer.style.display === 'none') {
                    answer.style.display = 'block';
                }
                else {
                    answer.style.display = 'none';
                }
            }
        </script>
    <% } %>
</div>