<div id="page">
    <div id="register">
        <form method="POST" action="/api/v1/products/" class="form" enctype="multipart/form-data">
            <%- include("./partials/error_messages") %>
            <input type="text" name="name" placeholder="Product Name" required
                value="<%= typeof name != 'undefined' ? name : '' %>" />
            
            <% if(typeof categories != 'undefined'){ %>
            <select name="category" id="reservedtable" required>
                <option selected disabled>Product Category:</option>
                <% categories.forEach((category) => { %>
            
            
                <option value="<%= category.id %>"><%= category.name %></option>
            
            
                <% }) %>
            
            </select>
            <% } %>
            
            <textarea name="description" placeholder="Description" required
                value="<%= typeof description != 'undefined' ? description : '' %>"></textarea>
                <textarea name="summary" placeholder="Summary" required
                    value="<%= typeof summary != 'undefined' ? summary : '' %>"></textarea>
            
            

           
            
            <label id="deleteableLabel" for="imageCover">Choose a image:</label>
            <input id="imageCover" name="imageCover" type="file" required />
            
            <input type="text" name="SKU" placeholder="SKU" required value="<%= typeof SKU != 'undefined' ? SKU : '' %>" />
            <input type="text" name="laminatingPrice" placeholder="Laminating Price" required value="<%= typeof laminatingPrice != 'undefined' ? laminatingPrice : '' %>" />
            <input id="deleteablePrice" type="text" name="price" placeholder="Price" required value="<%= typeof price != 'undefined' ? price : '' %>" />

            <!--Variable html code-->
            <p style="margin-top: 15px;">Must fill below if product has variants</p>
            <div id="variableProductsForm" class="variableProductsForm">

            <input type="text" name="variantsName" placeholder="Variant Name">
            <input type="text" name="variantsValue" placeholder="Variant Value">
            </div>

            

            

            <input type="submit" value="Add New Product" />

            
        </form>
    </div>



</div>