<div class="page">
    <div id="cart-page">
        <% if(typeof carts != 'undefined') {%>
            <%for(var i = 0; i < carts.length; i++) { %>  
                <% if(carts[i].ordered === false){ %>                
                <div id="cart">

                    <div class="cart-product">
                        <a href="/products/<%= carts[i].product.id %>"><img src="/img/products/<%= carts[i].product.imageCover %>" width="100"></a>
                        <a href="/products/<%= carts[i].product.id %>"><p><%= carts[i].product.name %> | <%= carts[i].variantName %> | <%= carts[i].variantValue %></p></a>
                        <p><b>Quantity:</b> <%= carts[i].quantity %></p>
                        <p><b>Price:</b> <%= carts[i].price %></p>
                        <p><b>Total:</b> <%= carts[i].quantity * carts[i].price %></p>
                        <form method="POST" action="/update-cart">
                            <input type="hidden" value="<%= carts[i].id %>" name="id">
                            <input type="submit" value="X">
                        </form>
                    </div>
                    

                </div>
                <% } %>
            <%}%>
        <% } %>

        <a href="/checkout"><button class="add-cart">Checkout Your Cart</button></a>
    </div>
    <script>

        // function alStorage() {

        //         var cartValues = [],
        //             cartCount = 0,
        //             keys = Object.keys(localStorage),
        //             i = keys.length;

        //         while (i--) {
        //             cartValues.push(JSON.parse(localStorage.getItem(keys[i])));
        //         }

        //         for (var j = 0; j < cartValues.length; j++) {
        //             cartCount += Number(cartValues[j].quantity);

                   
        //                 document.getElementById('cart').innerHTML += `<div class="cart-product"><a href="/products/${cartValues[j].id}">${cartValues[j].name}</a><p>Quantity: ${cartValues[j].quantity}</p><p>Price: ${cartValues[j].price}</p><p>Total: ${Number(cartValues[j].price) * Number(cartValues[j].quantity)}</p></div>`
                    
        //         }
        //     }
        //     alStorage();
    </script>
</div>