<div id="page">
    <div id="home">
    <h1>Products</h1>
    <a href="/admin/add-product">Click to add a new product (Only by a admin, temporary on home page)</a><br>
    <a href="/admin/add-category">Click to add a new category (Only by a admin, temporary on home page)</a>

            <% if(typeof products != 'undefined'){ %>
            
                <% products.forEach((product) => { %>
            
                <div class="single-product">
                <a href="/products/<%= product.id%>"><p> <%= product.name %></p></a>
                <p>Category: <%= product.category.name %></p>
                <p>Description: <%= product.description %></p>
                <img src="/public/img/products/<%= product.imageCover %>">
                <p>Price: <%= product.price %></p>
                </div>
            
                <% }) %>
            
          
            <% } %>
            </div>
</div>