<div id="page">
    <div id="home">

        <!--Offers-->

        <div class="home-offer">
            <div class="home-overlay">
                <div class="left-offer">
                    <h2>This is the FOCUS text normal for service website</h2>
                        
                        
                        <h1 style="border: 2px solid #60CCA8;padding: 10px;width: max-content;margin: 20px auto;">From 26.99</h1>
                        <button>BUY NOW</button>
                    
                </div>
                <div class="right-offer">
                    <div class="top-right-offer">
                        <div class="overlay">
                            <h2>Clear Protective Banner</h2>
                            <h1>From 26.99</h1>
                            <button>BUY NOW</button>
                        </div>
                    </div>
                    <div class="bottom-right-offer">
                        <div class="overlay">
                            <h2>Clear Protective Banner</h2>
                            <h1>From 26.99</h1>
                            <button>BUY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-heading">

            <h1>Products are as good as they are designed</h1>
            <p>Flyer’s make light work of spreading the word. Choose from our huge range of stock and size to Create the perfect
            flyer’s for your clients.</p>

        </div>
        <div class="home-text-section">
            <div class="text1">
                <h2>Flyers</h2>
                <p>Flyer’s make light work of spreading the word. Choose from our huge range of stock and size to Create the perfect
                    flyer’s for your clients.</p>
                    <button>Buy Now</button>
            </div>
            <div class="text1">
                <h2>Flyers</h2>
                <p>Flyer’s make light work of spreading the word. Choose from our huge range of stock and size to Create the perfect
                    flyer’s for your clients.</p>
                    <button>Buy Now</button>
            </div>
            <div class="text1">
                <h2>Flyers</h2>
                <p>Flyer’s make light work of spreading the word. Choose from our huge range of stock and size to Create the perfect
                    flyer’s for your clients.</p>
                    <button>Buy Now</button>
            </div>

        </div>


    <h1>Products</h1>
    <a href="/admin/add-product">Click to add a new product (Only by a admin, temporary on home page)</a><br>
    <a href="/admin/add-category">Click to add a new category (Only by a admin, temporary on home page)</a>

            <% if(typeof products != 'undefined'){ %>
            
                <% products.forEach((product) => { %>
            
                <div class="single-product">
                <a href="/products/<%= product.id%>"><p>Titlle: <%= product.name %></p></a>
                
                <a href="/categories/<%= product.category.id %>"><p>Category: <%= product.category.name %></p></a>
                <p>Description: <%= product.description %></p>
                <img src="/img/products/<%= product.imageCover %>" width="200">
                <p>Price: <%= product.price %></p>
                <p>Stock Left: <%= product.stock %></p>
                
                </div>
            
                <% }) %>
            
          
            <% } %>
            </div>
</div>