<div id="page">
    <div id="home">

        <!--Offers-->

        <div class="home-offer">
            <div class="home-overlay">
                <div class="left-offer">
                    <h2>We are under construction. Please call or email</h2>
                        
                        
                        <h1 style="border-radius: 4px;background: transparent; color: #e6ded3;padding: 10px;width: max-content;margin: 20px auto;">From 26.99</h1>
                        <button>BUY NOW</button>
                    
                </div>
                <div class="right-offer">
                    <div class="top-right-offer">
                        <div class="overlay">
                            <h2>Clear Protective Banner</h2>
                            <h1>From 26.99</h1>
                            <button>BUY NOW</button>
                        </div>
                    </div>
                    <div class="bottom-right-offer">
                        <div class="overlay">
                            <h2>Clear Protective Banner</h2>
                            <h1>From 26.99</h1>
                            <button>BUY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-heading">

            <h1>Products are as good as they are designed</h1>
            <p>Flyer’s make light work of spreading the word. Choose from our huge range of stock and size to Create the perfect
            flyer’s for your clients.</p>

        </div>
        <div class="home-text-section">
            <div class="text1">
                <h2>Flyers</h2>
                <p>Flyer’s make light work of spreading the word. Choose from our huge range of stock and size to Create the perfect
                    flyer’s for your clients.</p>
                    <button>Buy Now</button>
            </div>
            <div class="text1">
                <h2>Flyers</h2>
                <p>Flyer’s make light work of spreading the word. Choose from our huge range of stock and size to Create the perfect
                    flyer’s for your clients.</p>
                <button>Buy Now</button>
            </div>
            <div class="text1">
                <h2>Flyers</h2>
                <p>Flyer’s make light work of spreading the word. Choose from our huge range of stock and size to Create the perfect
                    flyer’s for your clients.</p>
                    <button>Buy Now</button>
            </div>
            <div class="text1">
                <h2>Flyers</h2>
                <p>Flyer’s make light work of spreading the word. Choose from our huge range of stock and size to Create the perfect
                    flyer’s for your clients.</p>
                    <button>Buy Now</button>
            </div>

        </div>

        <div class="quick-quote-wrapper">
            
            <h2>Ask for a quick quote</h2>
            <form class="form quick-quote">
                <input type="text" name="name" placeholder="Full Name">
                <input type="email" name="email" placeholder="Put your email">
                <input type="text" name="phone" placeholder="Phone Number">
                <textarea name="description">Job Description</textarea>
                <input type="submit" value="Ask a quote">

            </form>
            
        </div>

    <h1>Products</h1>


            <% if(typeof products != 'undefined'){ %>
            <div id="product-front">
                <% products.forEach((product) => { %>
            
                <div class="single-product">
                    <img src="/img/products/<%= product.imageCover %>" width="100%">
                    <a href="/products/<%= product.id%>">
                        <h3><%= product.name %></h2>
                    </a>
                
                    <!-- <a href="/categories/<%= product.category.id %>">
                                <p>Category: <%= product.category.name %></p>
                            </a> -->
                    <p> <%= product.description %></p>
                
                    <p>Price: <%= product.price %></p>
                    <p>Stock Left: <%= product.stock %></p>
                
                    <a href="/products/<%= product.id%>"><button id="add-cart" class="add-cart">Buy Now</button></a>
                
                
                </div>
            
                <% }) %>
            
            </div>
            <% } %>
            </div>
</div>