<div id="page">
    <div id="home">

        <!--Offers-->

        <div class="home-offer">
            <div class="home-overlay">
                <div class="left-offer">
                    <h1>This is very big text only you can buy Service. </h1>
                        <img src="/img/site/left-photo.jpeg">
                        
                        <h1>From 26.99</h1>
                        <button>BUY NOW</button>
                    
                </div>
                <div class="right-offer">
                    <div class="top-right-offer">
                        <div class="overlay">
                            <h2>Clear Protective Banner</h2>
                            <h1>From 26.99</h1>
                            <button>BUY NOW</button>
                        </div>
                    </div>
                    <div class="bottom-right-offer">
                        <div class="overlay">
                            <h2>Clear Protective Banner</h2>
                            <h1>From 26.99</h1>
                            <button>BUY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <h1>Products</h1>
    <a href="/admin/add-product">Click to add a new product (Only by a admin, temporary on home page)</a><br>
    <a href="/admin/add-category">Click to add a new category (Only by a admin, temporary on home page)</a>

            <% if(typeof products != 'undefined'){ %>
            
                <% products.forEach((product) => { %>
            
                <div class="single-product">
                <a href="/products/<%= product.id%>"><p> <%= product.name %></p></a>
                <p>Category: <%= product.category.name %></p>
                <p>Description: <%= product.description %></p>
                <img src="/img/products/<%= product.imageCover %>">
                <p>Price: <%= product.price %></p>
                </div>
            
                <% }) %>
            
          
            <% } %>
            </div>
</div>