<div class="page">
    <% if(typeof product != 'undefined'){ %>
    
    
    <div class="single-product-page">
        <img src="/img/products/<%= product.imageCover %>" width="300">
        <a href="/products/<%= product.id%>">
            <h3><%= product.name %></h2>
        </a>
    
        <a href="/categories/<%= product.category.id %>">
                    <p>Category: <%= product.category.name %></p>
                </a>
        <p> <%= product.description %></p>



                <!-- variable codes -->
                <% if(product.variants.length >= 0){ %>
                    <div id="variants" style="display: none;">
                    <%= JSON.stringify(product.variants) %>
                    </div>
                <% } %>
                    

                


                <div id="variable-form">

                    <label id="base-name" style="font-weight: bold;">
                        
                    </label>

                </div>

                <div id="secondLevel-form">

                    <label id="secondLevel-name" style="font-weight: bold;"></label>

                </div>

                <div id="thirdLevel-form">
                
                    <label id="thirdLevel-name" style="font-weight: bold;"></label>
                
                </div>

    
        <p>Price: <span id="price"><%= product.price %></span></p>
        <p>Stock Left:<span id="stock"><%= product.stock %></span></p>
    
        <form action="/add-to-cart" method="POST" enctype="multipart/form-data">
            <label style="display: inline;">Quantity: </label> <input id="quantity" name="quantity" type="number"
                style="width: 40px; display: inline;" max="<%= product.stock %>" min="1" required>
            <input type="hidden" id="product-id" name="product" value="<%= product.id%>">
            <input type="hidden" id="sku" name="SKU" value="<%= product.SKU %>">
            
            <br><br><label>Upload a design of your choice</label><input style="width: 150px;" type="file" id="imageCover" name="imageCover">
            
            
            <input type="checkbox" id="laminatingPrice" style="display: inline;width: 5px;" name="laminatingPrice" required value="<%= product.laminatingPrice %>" />
            
            <label style="display: inline;background: #ffe1b9;padding: 8px;margin: 0px;color: #685e5e;" >Laminating: <%= product.laminatingPrice %> </label>

            <input type="submit" id="add-cart" class="add-cart" value="Add to cart">
            <a id="message-info" href="/cart">Added to cart. Visit cart</a>
        </form>
    
    
    </div>
        <script src="/js/main.js">

            
        </script>
        
    <% } %>
</div>


