<div class="page">
    <% if(typeof product != 'undefined'){ %>
    
    
    <div class="single-product-page">
        <img src="/img/products/<%= product.imageCover %>" width="300">
        <a href="/products/<%= product.id%>">
            <h3><%= product.name %></h2>
        </a>
    
        <a href="/categories/<%= product.category.id %>">
                    <p>Category: <%= product.category.name %></p>
                </a>
        <p> <%= product.description %></p>



                <!-- variable codes -->
                <% if(product.variants.length >= 0){ %>
                    <div id="variants" style="display: none;">
                    <%= JSON.stringify(product.variants) %>
                    </div>
                <% } %>
                

                <div id="variable-form">

                    <label id="base-name" style="font-weight: bold;">
                        
                    </label>

                </div>

    
        <p>Price: <span id="price"><%= product.price %></span></p>
        <p>Stock Left:<span id="stock"><%= product.stock %></span></p>
    
        <form action="/add-to-cart" method="POST" enctype="multipart/form-data">
            <label style="display: inline;">Quantity: </label> <input id="quantity" name="quantity" type="number"
                style="width: 40px; display: inline;" max="<%= product.stock %>" min="1" required>
            <input type="hidden" id="product-id" name="product" value="<%= product.id%>">
            <br><br><label>Upload a design of your choice</label><input style="width: 150px;" type="file" id="imageCover" name="imageCover">
            
            <input type="submit" id="add-cart" class="add-cart" value="Add to cart">
            <a id="message-info" href="/cart">Added to cart. Visit cart</a>
        </form>
    
    
    </div>
        <script>




            // let productId = document.getElementById('product-id').value;
            // let productName = document.getElementById('product-name').value;
            // let productPrice= document.getElementById('product-price').value;

            // function addToCart() {
                
            //     if (this.quantity.value >= 1 && this.quantity.value <= this.quantity.max) {

            //         let dataArray = {id: productId, name: productName, price: productPrice, quantity: this.quantity.value};
                    
            //         // let localValue = parseInt(localStorage.getItem(productId), 10);
                    
            //         // if(localValue !== NaN){
            //         //     let addtToLocalValue = this.quantity.value + localValue;
            //         //     console.log(addtToLocalValue);
            //         //     localStorage.setItem(productId.toString(), addtToLocalValue.toString());
            //         // }
                    

            //         //localStorage.setItem(productId.toString(), JSON.stringify(dataArray));


                    
            //         allStorage();

            //         document.getElementById('message-info').style.display = 'block';

            //     }
            // }




     //starts code for product variable

    if (document.getElementById('variants')) {
        let variants = JSON.parse(document.getElementById('variants').innerHTML);
        let variableForm = document.getElementById('variable-form');
        let baseName = document.getElementById('base-name');
        let price = document.querySelector('span#price');
        let stock = document.querySelector('span#stock');

        //base radio show
        for (var i = 0; i < variants.length; i++) {
            if (variants[i].base === null || variants[i].base === "") {
                baseName.innerHTML = variants[i].name + ": ";
                variableForm.innerHTML += `<input id="base-radio-${i}" style="width: 40px; display: inline;" type="radio" name="variableName" value="${variants[i].value}"><label style="width: 40px; display: inline;">${variants[i].value}</label>`;

                document.getElementById(`base-radio-${i}`).addEventListener('change', changeContent);

            }
        }

        //base radio functionality
        
        
        function changeContent (){

            console.log('hi');
            

        }
        

    }
                        
 //ends code for product variable
            
        </script>
        
    <% } %>
</div>


