<% if(typeof category != 'undefined'){ %>
    <p><%= category.name %></p>
    <div id="product-front">
    
    
        <% if (typeof products == 'undefined') { %>
        <p>No Products yet in this category</p>
        <% } %>
    
    
    
        <% if (typeof products != 'undefined') { %>
    
        <% products.forEach((product) => { %>
    
        <div class="single-product">
            <img src="/img/products/<%= product.imageCover %>" width="100%">
            <a href="/products/<%= product.id%>">
                <h3><%= product.name %></h2>
            </a>
    
            <!-- <a href="/categories/<%= product.category.id %>">
                    <p>Category: <%= product.category.name %></p>
                </a> -->
            <p> <%= product.summary %></p>
    
            <p>Price: <span class="numbers">£<%= product.price %></span></p>
           
    
            <a href="/products/<%= product.id%>"><button id="add-cart" class="add-cart">Buy Now</button></a>
    
    
        </div>
    
        <% }) %>
    
    
        <% } %>
    
    </div>
<% } %>